/* General background and text color */
body {
  background-color: #222 !important;
}

h1{
  color: #fff !important;
}

a {
  color: #fff !important;
}

p {
  color: #fff !important;
}

.bg-cbTblHdr {
  background-color: #fff !important;
  color: #000 !important;
}

.bg-cbLightGrayish {
  background-color: #222 !important;
}
.wb:bg-cbLightGrayish {
  background-color: #222 !important;
}
.bg-cbWhite {
  background-color: #424242 !important;
}
.bg-white {
  background-color: #424242 !important;
}
.min-h-page {
  background-color: #424242 !important;
}
.bg-transparent {
  background-color: transparent !important;
}

.bg-cbInactTab {
  background-color: #47927e !important;
}
.bg-cbAntiFlash {
  background-color: #2b3a37 !important;
}
.bg-pink-50 {
  background-color: #3f3536 !important;
}

.text-cbTxtSec {
  color: #b5b5b5 !important;
}
.text-cbTxtPrim {
  color: white !important;
}
.bg-cbThmClrLgt {
  background-color: #008000 important;
}
.text-cbDarkShadGrey {
  color: #c4c4c4 !important;
}
.mb:bg-white  {
  background-color: #424242 !important;
}
.text-cbTextGrayDark {
  color: #888888 !important;
}


.text-black {
  color: #fff !important;
}

.cbSubcriptionIcon {
  filter: brightness(0) invert(1) !important;
}

.cbPlusIco {
  filter: brightness(0) invert(1) !important;
}

.cbTeamsIcon {
  filter: brightness(0) invert(1) !important;
}

.cbMoreRightIconDark {
  filter: brightness(0) invert(1) !important;
}

.cbTrophyIcon {
  filter: brightness(0) invert(1) !important;
}

.cbCrtIcnDark,
.cbCrtIcn {
  filter: brightness(0) !important;
}

button .cbCrtIcnDark,
button .cbCrtIcn {
  filter: brightness(0) invert(1) !important;
}

.text-black.cbCrtIcnDark,
.text-black.cbCrtIcn,
[class*="tb:cbItmBkgDark"] .cbCrtIcnDark,
[class*="tb:cbItmBkgDark"] .cbCrtIcn,
[class*="tb:bg-cbGrnCyn"] .cbCrtIcnDark,
[class*="tb:bg-cbGrnCyn"] .cbCrtIcn {
  filter: brightness(0) invert(1) !important;
}

.cbPlusIco.cbCrtIcnDark,
.cbPlusIco.cbCrtIcn {
  filter: brightness(0) invert(1) !important;
}

[class*="cb-text-"] {
  filter: brightness(1) !important;
}

.bg-cbSix {
  background-color: #d59aea!important;
}

.bg-cbFour {
  background-color: #2fb9d6!important;
}

.bg-cbFifty {
  background-color: #bca98b!important;
}

.bg-cbHundred {
  background-color: #5eb19d!important;
}


.bg-cbBorderGrey {
  background-color: #2a2a2a!important;
}

.bg-cbGrpHdrBkg {
  background-color: #47927e !important;
  color: #fff !important;
}

.text-cbTextLink {
  color: #4a89e7!important;
}
.scorecard-bat-grid , .scorecard-fow-grid , .scorecard-bowl-grid,.scorecard-player-grid {
  color: #fff !important;
}


.bg-cbGrnCyn {
  background-color: #4fc2a3!important;
}

.bg-cbGrnCyn.text-cbDarkShadGrey {
  color: #fff !important;
}


[class*="text-[#a36501]"] {
  color: #c17425 !important;
}




/* Override hover:bg-[#ddd] for dark mode */
[class*="hover:bg-[#ddd]"]:hover {
  background-color: #555 !important;
}

[class*="hover:bg-[#d1d1d1]"]:hover {
  background-color: #555 !important;
}

[class*="tb:bg-white"]:hover {
  background-color: #424242 !important;
}

[class*="text-[#000000DE]"] {
  color: #fff !important;
}

[class*="bg-[#f5f5f5]"] {
  background-color: #2c2c2c !important;
}

[class*="hover:bg-zinc-300"]:hover {
  background-color: #424242 !important;
}

[class*="tb:bg-[#CFE0DB]"] {
  background-color: #575757 !important;
}

[class*="hover:bg-cbBorderGrey"]:hover {
  background-color: #4f4f4f !important;
}

.scorecard-bat-grid{
  background-color: #4c4c4c !important;
}

.text-gray-800 {
  color: #d0d0d0 !important;
}

.bg-gray-50 {
  background-color: #4f4f4f !important;
}
.leading-relaxed {
  color: #b3b3b3 !important;
}

.text-gray-600 {
  color: #b3b3b3 !important;
}

.bg-cbItmBkgDark {
  background-color: #e1e1e1 !important;
  color: #000 !important;
}


.bg-cbOffWhite {
  background-color: #4f4f4f !important;
}


.bg-gray-200 {
  background-color: #2c2c2c !important;
}


















/* Override Cricbuzz's media query for wb:!bg-* classes */
@media (min-width: 1024px) {
  .wb\:\!bg-cbWhite,
  .wb\:\!bg-white {
    background-color: #424242 !important;
  }
  .wb\:bg-cbWhite {
    background-color: #424242 !important;
  }
  .wb\:bg-white {
    background-color: #424242 !important;
  }
  .wb\:bg-cbLightGrayish {
    background-color: #424242 !important;
    color: #fff !important;
  }
  .wb\:text-cbTextGrayDark {
    color: #cccccc !important;
  }
  .wb\:\!text-black {
    color: #fff !important;
  }
  .wb\:text-black {
    color: #fff !important;
  }
  .wb\:text-black > div:not(:first-child) {
    color: #fff !important;
  }
}






















.bg-neutral-300 {
  background-color: #555 !important;
}
.bg-neutral-400 {
  background-color: #444 !important;
}
.bg-neutral-500 {
  background-color: #333 !important;
}
.bg-neutral-600 {
  background-color: #222 !important;
}
.bg-neutral-700 {
  background-color: #111 !important;
}